<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: inline-block;
        padding: 10px;
      }
    </style>

    <div class="container">
      <div class="row">
        <h1 class="col-lg-12">Gestor Clientes</h1>
        <button on-click="getClients">Obtener Clientes</button>
        <table>
          <template is="dom-repeat" items='{{listaClientes}}'>
            <tr>
              <td>
                [[item.nombre]]
              </td>

              <td>
                [[item.apellido]]
              </td>

              <td>
                [[item.idcliente]]
              </td>
            </tr>
          </template>
        </table>
      </div>
    </div>

  </template>
  <script>

    class GestorClientes extends Polymer.Element {
      static get is() {
        return 'gestor-clientes';
      }
      static get properties() {
        return {
          listaClientes: {
            type: Array,
            notify: true,
            value: function () {
              return [];
            }
          }
        }
      }


      //Peticion hacia Node
      getCustomer() {
        var url = "http://localhost:3000/api/movements";
        var request = new XMLHttpRequest();
        request.open("GET", url, false);

        request.setRequestHeader("Accept", "application/JSON");

        request.send();

        this.listaClientes = JSON.parse(request.responseText);
        console.log(this.listaClientes)

      }

      _addCustomer() {
       
        var data = {
          "idcliente": 1255,
          "nombre": "Bibi",
          "apellido": "Sanchez"
        };

        var url = "http://localhost:3000/api/movements";
        var xhr = new XMLHttpRequest();
        xhr.open('POST', url, true);
        xhr.setRequestHeader('Content-type', 'application/json');
        
        xhr.onload = function () {
          var users = JSON.parse(xhr.responseText);
          if (xhr.readyState == 4 && xhr.status == "200") {
            console.table(users);
          } else {
            console.error(users);
          }
        }
        xhr.send(JSON.stringify(data));
      }


      // obtenerClientes(){
      //     var url="https://services.odata.org/V4/Northwind/Northwind.svc/Customers"
      //     var request= new XMLHttpRequest();
      //     request.open("GET", url, false);
      //     request.setRequestHeader("Accept", "application/JSON");
      //     request.send(); 

      //     this.listaClientes=JSON.parse(request.responseText).value;
      //     console.log( this.listaClientes)
      // }

    }
    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>