<link rel="import" href="../../bower_components/polymer/polymer-element.html">
    
<dom-module id="my-visora">
        
    <template>
            
       <div class="container">
           <div class="row">
                <img src="https://image.flaticon.com/icons/svg/1087/1087839.svg" class="col-lg-8 col-xs-12">
                <button type="button" class="btn-danger col-lg-3 col-xs-12" on-click="incremental">Boton</button>
                <input id="miinput" type="text" name="text" placeholder='[[prop3]]' value="{{prop1::input}}">
               [[prop1]]
                <table class="rtable table-striped"> 
                    <thead>
                            <th>ID</th> 
                            <th>Nombre</th> 
                            <th>Apellido</th> 
                    </thead>
                  <tbody>
                      <tr>
                          <td>[[prop2]]</td>
                          <td>[[prop1]]</td>
                          <td>Sac</td>
                      </tr>
                      <tr>
                            <td>2</td>
                            <td>Nes2</td>
                            <td>Sac</td>
                        </tr>
                        <tr>
                                <td>3</td>
                                <td>Nes3</td>
                                <td>Sac</td>
                            </tr>
                  </tbody>
                </table>
           </div>
           
       </div>
       <div class="row">

       </div>
        
    </template>
    <script>
    class MyVisora extends Polymer.Element{
        static get is(){
            return 'my-visora';
        }
        static get properties(){
            return {
                prop1:{
                    type: String,
                    value: null
                   
                },
                prop2:{
                    type: Number,
                    value: 999
                },
                prop3:{
                    type:String,
                    value: 'Indique su Login'
                }
            }

        }
        incremental(){
            this.prop1= this.prop2 + 1;
            console.log(this.prop2);
            console.log(this.prop1);
        }
    }
    window.customElements.define(MyVisora.is, MyVisora);
    </script>
    
</dom-module>