<dom-module id="manager-movements">
<template>

</template>
<script>
class ManagerMovements extends Polymer.Element{
    static get is(){
        return 'manager-movements';
    }
    static get properties(){

    }

_addMov

}
</script>
</dom-module>